<div>
  <h3>{{listName}}</h3>

  <input value="{{newItem.name}}" />

  <button class="button">Add todo</button>

  <div class="div"></div>
</div>
<style>
  .button {
    margin-left: 10px;
  }
  .div {
    padding: 10px;
  }
  .input {
    margin-right: 10px;
    vertical-align: text-bottom;
  }
</style>
